* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

 h1 {
  font-family: 'Rampart One', cursive;
  font-size: 3.5em;
 }

 footer {
  font-family: 'Jua', sans-serif;
  font-size: 0.9em;
  padding: 5em;
}